{% extends "codespeed/base_site.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">

   <h3>Benchmarks for Bitcoin</h3>

   <p>
   This site hosts benchmarking results for the
   <a href="https://github.com/bitcoin/bitcoin">Bitcoin Core</a> project.
   </p>

   <p>
   The goal is to keep tabs on various important, high-level metrics like
   initial block download and reindex time, build duration and memory usage,
   and test suite duration.
   </p>

   <p>
   The code for this site is available on <a
      href="https://github.com/chaincodelabs/bitcoin-perfmonitor">Github</a>.
   </p>

   <h3>Contact</h3>
   <p><a href="https://twitter.com/jamesob">@jamesob</a></p>
</div>

{% endblock %}
